@import "../../global.scss";

.home {
    background-color: rgb(2, 49, 66);
    color: #fff;
    display: flex;
    align-items: center;


    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 100px;

        h1{
            font-size: 4rem;
            margin-bottom: 50px;

            @media (max-width: 1440px) {
                font-size: 3rem;
            }

            @media (max-width: 768px) {
                font-size: 1.5rem;
            }
        }
    
        p{
            font-family: 'Nova Square', cursive;
            text-align: center;
            width: 60%;
            font-size: 2rem;
            margin-bottom: 100px;

            @media (max-width: 1440px) {
                font-size: 1.5rem;
            }

            @media (max-width: 1024px) {
                width: 80%;
            }

            @media (max-width: 768px) {
                width: 90%;
                font-size: 1rem;
            }
        }

        .link-wrapper {
            font-size: 1.6rem;
            width: 50vw;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1440px) {
                font-size: 1.2rem;
            }

            @media (max-width: 1024px) {
                flex-direction: column;
            }

            @media (max-width: 768px) {
                width: 90vw;
                font-size: 1rem;
            }

            a{
                text-decoration: none;
                color: inherit;

                &:hover {
                    transition: 0.3s;
                    color: $hoverColor;
                }
            }

            .horizontal-divider{
                width: 1px;
                height: 60px;
                background: linear-gradient(180deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.1) 100%);

                @media (max-width: 1024px) {
                    height: 1px;
                    width: 60px;
                    background: linear-gradient(90deg, rgba(255,255,255,0.1) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,0.1) 100%);
                    margin: 12px 0;
                }
            }
        }
    }
}