@import "./global.scss";

.arrow-down {
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
    position: absolute;
    animation: arrowBlink 1.5s infinite;
    border-left: none;
    border-top: none;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

    &:hover{
        border-color: $hoverColor;
        animation: none;
    }

    @keyframes arrowBlink {
        100%{
            opacity: 0;
        }
    }

}
